#dialog-box {
	    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	    -moz-border-radius: 5px;
	    -webkit-border-radius: 5px;

	    background-color: #eee;
	    width:400px;
		position:absolute;
		display: none;

		background-color: white ;
	}

.dialog-content {
	    text-align:center;
	    padding:5px 10px;
	    margin:13px;
	    font-family:arial;
	}

	#task-div {
			position: absolute;
			width: 600px ;
			height: 400px ;
		}

	#begin-button{
		width: 200px ;
		height: 30px ;
		margin: 5px auto ;
		}

body.at-dialog {
		background-color: DimGrey;
	}

body.at-task {
		background-color: black;
	}

.fullscreen {

		background-color: black ;

	    position:absolute;
	    top:0;
	    left:0;

	    width:100%;
	    height:100%;
	}




  /* Button styling
	/* This changes the default button CSS style - i.e. No button styling */
	button {
		padding: 0;
		border: none;
		font: inherit;
		color: inherit;
		background-color: transparent;
		}

	/* The CSS styling below applies to buttons in the 'btn' class */
	.btn {
	  /* default for <button>, but useful for <a> */
	  display: inline-block;
	  text-align: center;
	  text-decoration: none;

	  /* create a small space when buttons wrap on 2 lines */
	  margin: 1px 0;

	  /* invisible border (will be colored on hover/focus) */
	  border: solid 1px;
	  border-radius: 4px;
		border-color: DimGrey;

	  /* size comes from text & padding (no width/height) */
	  padding: 0.5em 1em;

	  /* make sure colors have enough contrast! */
	  color: #010101;
	  background-color: #FEFEFE;
	}




/* Instruction page one - DCE page styling */
#instructionsOne {
	font-size: 130%;
	font-family: "Arial";
	background-color:white;
    color:black;
    text-align: center;
		margin-top: 1cm;
		margin-left: 0.5cm;
		line-height: 1.5;
	}

	selectPhoneButton {
		width:200px;
		height:52px;
		font-size:large;
		border-radius: 8px;
	}


	img {
		display:inline-block;
		margin-top:0px;
		margin-bottom: 0px;
	  margin-left: auto;
	  margin-right: auto;
	  width: 40%;
		width:412px;
		height:131px;
		padding:1px;
		border:1px solid rgba(0, 0, 0, 0.2);
	}

	kbd {
		font-size: 130%;
	  border-radius: 3px;
	  padding: 1px 2px 0;
	  border: 1px solid black;
	}




#experimentEnd {
	font-size:150%;
	font-family: "Arial";
	background-color:white;
    color:black;
    text-align:center;
    line-height:3;
	}

.timeout {
	position:absolute;
	top:10%;
	left: 50%;
	font-size:250%;
	font-family: "Arial";
	background-color:white;
    color:red;
    text-align:center;
	transform: translate(-50%, -50%);
	}

.demand {
	position:absolute;
	top:30%;
	left: 50%;
	font-size:180%;
	font-family: "Arial";
	background-color:white;
	color:red;
	text-align:center;
	line-height:2;
	transform: translate(-50%, -50%);
}
/*
#tooSlow {
	position:absolute;
	top:10%;
	left: 50%;
	font-size:250%;
	font-family: "Arial";
	background-color:white;
    color:red;
    text-align:center;
	transform: translate(-50%, -50%);
	}

#makeFasterChoices {
	position:absolute;
	top:30%;
	left: 50%;
	font-size:180%;
	font-family: "Arial";
	background-color:white;
    color:red;
    text-align:center;
	line-height:2;
	transform: translate(-50%, -50%);
	}*/

#phoneTable {
	font-family: "Arial";
	font-size: 140%;
	border-spacing: 35px 10px;
}

#tableBody {
	position: absolute;
	 top: 35%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 text-align:center;
	}

#endBlock {
	position: absolute;
		top:4%;
		left:37%;
	font-size:150%;
	font-family: "Arial";
	background-color:white;
    color:blue;
    text-align:center;
    line-height:1.5;
	}

#goFast {
	font-size: 200%;
	font-family: "Arial";
	background-color:white;
    color:green;
    text-align:center;
    margin-top: 2cm;
	}
#goSlow {
	font-size:200%;
	font-family: "Arial";
	background-color:white;
    color:red;
    text-align:center;
    margin-top: 2cm;
	}

#progress {
	font-size:115%;
	font-family: "Arial";
	text-align: left;
	margin-top: 3cm;
	}

#countDown {
	font-size:150%;
	font-family: "Arial";
	margin-top: 2cm;
	text-align: center;
	}

#timeLeft {
	color: red;
	font-family: "Arial";
	}

#fixationCross {
	position:absolute;
		top:30%;
		left:50%;
	font-size:400%;
	font-family: "Arial";
	text-align: center;
	transform: translate(-50%, -50%);
}

#spacebarToContinue {
	position:absolute;
		top:50%;
		left:50%;
	font-size:170%;
	font-family: "Arial";
	background-color:white;
	  color: red;
	  transform: translate(-50%, -50%);
}

#loading {
	font-family: "Arial";
	}

#inTime {
	font-size: 250%;
	font-family: "Arial";
	background-color:white;
    color:green;
    text-align:center;
    margin-top: 6cm;
	}

